body{
    background-color: grey;
    margin: 0;
}

.character{
    width: 64px;
    height: 64px;
    overflow: hidden;
    position: relative;
}

.spritesheet{
    background: url('../images/naked_walk.png') no-repeat no-repeat;
    background-size: 100%;
    position: absolute;
    width: 521px;
    height: 256px;
}

.character[facing="up"] .spritesheet{
    background-position-y: 0px;
}

.character[facing="down"] .spritesheet{
    background-position-y: -128px;
}

.character[facing="left"] .spritesheet{
    background-position-y: -64px;
}

.character[facing="right"] .spritesheet{
    background-position-y: -192px;
}

.character[walking="true"] .spritesheet{
    animation: moveCharacter 0.8s steps(8) infinite;
}

@keyframes moveCharacter {
    from {
        transform: translate3d(0px, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}